{% extends "base.html" %}

{% block content %}
<section class="newsession-page">
    <h1>Create a New Session</h1>
    <form class="newsession-form" method="post" action="{{ url_for('newsession') }}">
        <label for="session_id">Session ID:</label>
        <input type="number" id="session_id" name="session_id" required>

        <label for="level">Level:</label>
        <select name="level" id="level" required>
            <option value="">Select Level</option>
            {% for level in levels %}
            <option value="{{ level.levelid }}">{{ level.name }}</option>
            {% endfor %}
        </select>

        <label for="time">Time:</label>
        <input type="text" id="time" name="time" maxlength="20" required>

        <label for="weekdays">Weekdays:</label>
        <input type="text" id="weekdays" name="weekdays" maxlength="20" required>

        <label for="pool">Pool:</label>
        <input type="text" id="pool" name="pool" maxlength="50" required>

        <label for="enrolled">Enrolled:</label>
        <input type="number" id="enrolled" name="enrolled" required>

        <h2>Optional</h2>

        <label for="evaluated">Evaluated:</label>
        <input type="number" id="evaluated" name="evaluated">

        <label for="completed">Completed:</label>
        <input type="number" id="completed" name="completed">

        <label for="incomplete">Incomplete:</label>
        <input type="number" id="incomplete" name="incomplete">

        <input type="submit" value="Create Session">
    </form>
</section>
{% endblock %}
