{% extends "base.html" %}

{% block content %}
<section class="welcome-page">
    <h1>Welcome To SwimSheet</h1>
    <h2>Current Season - Summer 2026</h2>
    <p>
        This tool allows you to Create, Edit, Save, and Print City of Toronto test sheets.
        Test Sheets are downloable as PDF's and securely stored in a PostgreSQL Database.
        This site is only intended for use by select swim instructors.
        If you are having trouble using the software or would like to report a bug contact the email below.
    </p>
</section>
{% endblock %}
